@font-face {
 font-family: 'Caviar Dreams';
 src: url('../fonts/CaviarDreams.ttf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Gatte Modern';
 src: url('../fonts/GatteModern-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}

*{
    font-family: 'Caviar Dreams', 'Gatte Modern', Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 2em;
    background-color: #2d2e2b;
    color: #fff;
}