@font-face {
 font-family: 'Caviar Dreams';
 src: url('../fonts/CaviarDreams.ttf');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Gatte Modern';
 src: url('../fonts/GatteModern-Regular.ttf');
 font-weight: normal;
 font-style: normal;
}

*{
    font-family: 'Caviar Dreams', 'Gatte Modern', Arial, sans-serif;
}

.logo{
    margin: 0.5rem;
    max-width: 30%;
    max-height: 30%;
    padding-bottom: 2rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 2em;
    background-color: #2d2e2b !important;
    color: #fff;
    min-height: 100vh;

    background: url('../images/bg1.svg') center left no-repeat, 
                url('../images/bg2.svg') center right no-repeat,
                url('../images/bg3.svg') top center no-repeat,
                url('../images/bg4.svg') bottom center no-repeat;
    background-size: auto 25vw, auto 25vw, 50vh auto, 50vh auto;
    background-position-y: 50%, 50%, 0%, 75%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}